<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建流程</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/css/workflow.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
</head>
<body>
    <div class="container-header">
        创建流程
    </div>
    <div class="container" id="app">
        <div class="head-flex">
            <div><label class="form-lable">流程名称：</label></div>
            <div><input type="text" class="input" v-model="workFlow.name"></div>
            <div><label class="form-lable">关联实体名称：</label></div>
            <div><input type="text" class="input" v-model="workFlow.domainName"></div>
            <div>
                <button class="layui-btn layui-btn-sm" v-on:click="save">创建流程</button>
            </div>
        </div>
        <div id="workflow" style="display:flex">
            <div class="li-btn">
                <ul>
                    <li class="li-tip">流程步骤操作按钮</li>
                    <li><button type="button" v-on:click="editStart" class="layui-btn bnt-start-end">开始<i class="layui-icon layui-icon-upload-circle"></i></button></li>
                    <li><button type="button" class="layui-btn btn-if">判断<i class="layui-icon layui-icon-friends"></i></button></li>
                    <li><button type="button" class="layui-btn btn-approve">单人处理<i class="layui-icon layui-icon-friends"></i></button></li>
                    <li><button type="button" class="layui-btn btn-approve">多人人处理<i class="layui-icon layui-icon-group"></i></button></li>
                    <li><button type="button" class="layui-btn btn-distribute">分发<i class="layui-icon"></i></button></li>
                    <li><button type="button" class="layui-btn bnt-start-end">结束<i class="layui-icon layui-icon-location"></i></button></li>
                </ul>
            </div>
            <div class="list-right">
                <div class="div-title">
                    流程步骤
                </div>
                <div class="table-list" style="overflow-y: auto;padding:1px 10px 0 10px">
                    <table class="layui-table text-center">
                        <thead>
                            <tr>
                                <th>流程步骤名称</th>
                                <th>前置节点</th>
                                <th>操作类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="dataList && dataList.length == 0">
                                <td colspan="4">暂无数据</td>
                            </tr>
                            <tr v-for="(item, index) in dataList">
                                <td>{{item.number}}</td>
                                <td><input type="text" name="" v-model="item.nodeName" class="table-input"></td>
                                <td><input type="text" name="" v-model="item.nodePath" class="table-input"></td>
                                <td>
                                    <input type="checkbox" v-model="item.isRootNode">
                                </td>
                                <td>
                                    <a class="layui-btn layui-btn-xs" v-on:click="add(index)">编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" v-on:click="remove(item.number,index)">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="div-title">
                    流程图
                </div>
                <div class="flow-step-box">
                    <div class="flow-step">
                        <div class="scorll-fix">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery/jquery-1.12.4.min.js"></script>
    <script src="~/js/jquery/jquery-ui.js"></script>
    <script src="~/js/jquery/jquery.jsplumb.js"></script>
    <script src="/js/require.js-2.3.6/require.min.js" type="text/javascript"></script>
    <script src="/layui/layui.js" type="text/javascript"></script>
    <script src="../../../js/common/require-config.js" type="text/javascript"></script>
    <script>
        require(['vue'], function (Vue) { 
            $('#workflow').hide();
            new Vue({
                el: '#app',
                data: {
                    workFlow: {
                        name: '',
                        domainName: ''
                    },
                    id: ''
                },
                mounted: function () {
                    var vueDom = this;
                    layui.use(['element', 'layer'], function () {
                        var layer = layui.layer
                    });
                },
                methods: {
                    defaultList: function (loading) {
                        var that = this;
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            url: '/api/menu/getList',
                            data: {
                                'isRootNode': true,
                            },
                            success: function (res) {
                                that.dataList = res.data;
                                layer.close(loading);
                            },
                            error: function (res) {
                                layer.close(loading);
                            }
                        });
                    },
                    save: function () {
                        var that = this;
                        if (that.workFlow.name == '') {
                            layer.msg('请填写流程名称', { icon: 7 });
                            return;
                        }
                        if (that.workFlow.domainName == '') {
                            layer.msg('请填写关联实体名称', { icon: 7 });
                            return;
                        }
                        var index = layer.load(2);
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            url: '/FlowDesign/CreateFlow',
                            data: JSON.stringify(that.workFlow),
                            contentType: "application/json; charset=UTF-8",
                            success: function (res) {
                                that.id = res.data;
                                layer.msg('保存成功', { icon: 6 });
                                layer.close(index);
                                $('#workflow').show();
                            },
                            error: function (res) {
                                layer.close(index);
                            }
                        });

                    },
                    editStart: function () {
                        var that = this;
                        layer.open({
                            type: 2,
                            content: 'start?id=' + that.id,
                            title: '配置开始步骤',
                            area: ['400px', '200px'],
                            offset: ['100px', '150px'],
                            btn: '保存',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                var iframeWin = window[layero.find('iframe')[0]['name']]; 
                                var workFlowNode = iframeWin.app.__vue__.workFlowNode;
                                var workFlowNode = {
                                    nodeName: iframeWin.app.__vue__.workFlowNode.nodeName,
                                    workFlowId: that.id,
                                    workFlowNodeType:1
                                }
                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    url: '/FlowDesign/AddFlowStep',
                                    data: JSON.stringify(workFlowNode),
                                    contentType: "application/json; charset=UTF-8",
                                    success: function (res) {
                                        that.workFlowNode = res.data;
                                        layer.close(loading);
                                    },
                                    error: function (res) {
                                        layer.close(loading);
                                    }
                                });
                                layer.close(index);
                                //$(".scorll-fix").append("<div id='start1' class='start'>开始<i class='layui-icon layui-icon-upload-circle'></i></div>")
                                //    .append("<div id='start2' class='start' style='margin-left:100px'>开始<i class='layui-icon layui-icon-upload-circle'></i></div>");
                                //var jsText = ' jsPlumb.ready(function () {\n' +
                                //    '        var flowConnector = {\n' +
                                //    '           // connector: ["Bezier", { curviness: 0 }],\n' +
                                //    '            //anchors: ["BottomCenter", "TopCenter"],\n' +
                                //    '            connector:\'Straight\',\n' +
                                //    '            paintStyle: { lineWidth: 2, strokeStyle: "#61B7CF", fillStyle: "transparent" },\n' +
                                //    '            //paintStyle: { lineWidth: 2, strokeStyle: "#61b7cf", joinstyle: "round", outlineColor: "white", outlineWidth: 2 },\n' +
                                //    '            overlays: [["Arrow", { width: 10, length: 10, location: 1 }]],\n' +
                                //    '            endpoint: ["Dot", { radius: 1 }]\n' +
                                //    '        };\n' +
                                //    '       var connection1= jsPlumb.connect({\n' +
                                //    '            source: \'start1\',\n' +
                                //    '            target: \'start2\',\n' +
                                //    '           anchor: [\'Right\', \'Left\']\n' +
                                //    '        },flowConnector)\n' +
                                //    '        connection1.setLabel(`<span style=\'display:block;padding:10px;opacity: 0.8;filter: alpha(opacity=80);font-family: helvetica;height:auto;background-color:white;border:1px solid #346789;text-align:center;font-size:12px;color:black;border-radius:0.5em;\'>通过</span>`);\n' +
                                //    '    })'

                                //var jscode = new Function(jsText)();

                            }
                        });
                    },
                    remove: function (number, index) {
                        var that = this;
                        that.dataList.splice(index, 1)
                    }
                }
            })
        })
    </script>
</body>
</html>