<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建流程步骤</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/css/workflow.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
</head>
<body style="background-color:white !important">
    <div class="layui-form" style="margin-top:5px" id="app">
        <table>
            <tr>
                <td> <label class="form-lable">步骤类型</label></td>
                <td>
                    <select class="select" v-model="workFlowNode.type">
                        <option value="99" selected>请选择</option>
                        <option v-for="item in nodeType" :value="item.value">
                            {{item.text}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr v-if="isShow(workFlowNode.type)">
                <td> <label class="form-lable">步骤名称</label></td>
                <td> <input type="text" class="input" v-model="workFlowNode.nodeName"></td>
            </tr>
            <tr v-if="isShow(workFlowNode.type)">
                <td> <label class="form-lable">节点处理人属性</label></td>
                <td> <textarea v-model="workFlowNode.nodeProperty"></textarea></td>
            </tr>
            <tr v-if="isShow(workFlowNode.type)">
                <td> <label class="form-lable">前置节点</label></td>
                <td v-for="option in previousList">
                    <input type="checkbox" :value="option.id" class="checkbox" v-model="workFlowNode.previousNodeList" />
                    <label>{{option.nodeName}}</label>
                </td>
            </tr>
            <tr v-if="isShow(workFlowNode.type)">
                <td> <label class="form-lable">退回节点</label></td>
                <td v-for="option in previousList">
                    <input type="checkbox" :value="option.id" class="checkbox" v-model="workFlowNode.returnList" />
                    <label>{{option.nodeName}}</label>
                </td>
            </tr>
            <tr v-if="isShow(workFlowNode.type)">
                <td> <label class="form-lable">步骤操作名称</label></td>
                <td> <input type="text" class="input" v-model="workFlowNode.operationName"></td>
            </tr>
        </table>
    </div>
    <script src="/js/require.js-2.3.6/require.min.js" type="text/javascript"></script>
    <script src="/layui/layui.js" type="text/javascript"></script>
    <script src="../../../js/common/require-config.js" type="text/javascript"></script>
    <script>
        require(['jquery', 'vue', 'utils', 'global'], function ($, Vue, utils) {
            var id = utils.getUrlParams('id');
            var nodeId = utils.getUrlParams('nodeId');
            new Vue({
                el: '#app',
                data: {
                    workFlowNode: {
                        id:'',
                        workflowId: id,
                        nodeName: '',
                        nodeProperty: '',
                        previousNodeList: [],
                        ReturnList: [],
                        operationName: '',
                        type: '99'
                    },
                    nodeType: {},
                    previousList: {}, 
                },
                mounted: function () {
                    var that = this;
                    layui.use(['layer'], function () {
                        var layer = layui.layer;
                        var loading = layer.load(3);
                        $.ajax({
                            type: 'get',
                            dataType: 'json',
                            url: 'nodetype-pre',
                            async: false,
                            success: function (res) {
                                that.nodeType = res.data;
                                layer.close(loading);
                            }
                        });
                        $.ajax({
                            type: 'get',
                            dataType: 'json',
                            url: 'pre-control/' + id,
                            success: function (res) {
                                that.previousList = res.data;
                                if (nodeId != undefined) {
                                    $.ajax({
                                        type: 'get',
                                        dataType: 'json',
                                        url: 'workflownode/' + nodeId,
                                        success: function (res) {
                                            that.workFlowNode = res.data;
                                            layer.close(loading);
                                        }
                                    });
                                }
                                layer.close(loading);
                            }
                        });                    
                    });
                },
                methods: {
                    isShow: function (nodeType) {
                        if (nodeType == 6 || nodeType == 1)
                            return false;
                        return true
                    }
                }
            })
        })
    </script>
</body>
</html>